<nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
   <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="#">Kh - Knowledge Helper</a>
</div>
<ul class="nav navbar-nav navbar-right">
    <li>
        <a class="" href="#">S'identifier</a>
    </li>
    <li>
        <a class="" href="#">S'inscrire</a>
    </li>
</ul>
</div>
</nav>