<header>
</header>
		
<section id="dashboard">
<div id="fiche">
	<input type="text" id="title" name="title" placeholder="Ttitre..."/>
	<textarea placeholder="Description de votre fiche ..."> </textarea>
</div>

<div id="dock">
	<div id="elText" class="ui-widget-content">
		T
	</div>
	<div id="elVideo" class="ui-widget-content">
		V
	</div>
	<div id="elImage" class="ui-widget-content">
		I
	</div>
	<div id="elPost" class="ui-widget-content">
		P
	</div>
</div>
</section>

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<!-- Brain application script-->
<script type="text/javascript" src="/js/brain.js"></script>
